.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 768px;
  margin: 0 auto;
}

.footer__section {
  flex: 1;
  min-width: 150px;
  margin-bottom: 1rem;
}

.footer__section-title {
  color: #0F172A;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__link-list {
  list-style: none;
  padding: 0;
}

.footer__link-item {
  margin-top: 20px;
}

.footer__link {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #868686;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__link:hover {
  color: #007bff;
}

.footer__copyright {
  margin-top: 1rem;
  color: #868686;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 40px 0 60px 0;
  width: 100%;
  padding: 0 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    justify-content: center;
  }

  .footer__section {
    text-align: center;
  }

  .footer__section-title {
    text-align: center;
  }

  .footer__link-list {
    text-align: center;
  }
}