/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     */
  border-bottom: 1px solid #ECEDED;
  ;
  background: #FFF;
}

.header__logo {
  width: 122.05px;
  height: 36px;
  flex-shrink: 0;
  cursor: pointer;
  /* Add styles for the logo, such as font or image */
}

.header__actions {
  /* Styles for the action buttons container */
}

/* .header__language-toggle, */
.header__join-waitlist {
  /* Shared styles for buttons */
  display: inline-block;
  text-decoration: none;
  padding: 0px 24px;
  line-height: 36px;
  border: none;
  cursor: pointer;

  border-radius: 32px;
  background: var(--button, linear-gradient(90deg, #5357ED 0%, #40B9FF 104.41%));
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {

  .header__language-toggle,
  .header__join-waitlist {
    /* Adjust button sizing for mobile */
  }
}